*{
   background-color: #f8f8f8;
   margin:0px ;
   padding: 0px;
}

:root{
    --primary:#f8f8f8;
    --secondry:#333333;
}

body{
    
    color:var(--secondry);
}
.nav_bar{
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    



}
.nav_bar .menu ul{
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    
    
}

li{
    list-style: none;
    margin: 0;
    padding:0;
}
.nav_bar .menu ul li{
    list-style-type: none;
    padding-inline-start: 40px;
    
    
}
.nav_bar .menu ul li a{
    text-decoration: none;
    color: var(--secondry);
    cursor: pointer;
    padding: 10px 10px;
    font-size: larger;
}
.nav_bar .hambuger{
    visibility: hidden;
}


.grid-container-row-one {
    display: grid;
    grid-column-gap:10px;
    grid-row-gap:10px;
    grid-template-columns: auto auto auto auto;
    background-color: #f8f8f8;
    
  }
  
  .grid-item {
    /* background-color: var(--secondry); */
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 5px;
    width:280px;
    height:300px;
    font-size: 30px;
    text-align: center;
  }
  /* image and hover */

  .image {
    display: block;
    width: 300px;
    height: 300px;
    background-color: black;
    
  }
  
  .overlay {

    
    
    position: relative;
    margin-top: -300px;
    height: 300px;
    width: 300px;
    opacity: 0;
    transition: .5s ease;
    background-color: var(--secondry);
  }

  

  .grid-item:hover .overlay  {
    opacity: 0.8;
  }
  

  .text {
    color: var(--secondry);
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  button{
      background-color: var(--primary);
      padding: 10px;
      color: #333333;
      border: 1px solid white;
      
  }


  /* row2 */
  
.item1 { grid-area: menu;
    height: 300px;
    width: 300px ; 
    position: relative;
    right: -7px;
}
.item1:hover .overlay3  {
    opacity: 0.8;
  }

  .overlay3 {



    position: relative;
    margin-top: -310px;
    height: 300px;
    width: 300px;
    opacity: 0;
    transition: .5s ease;
    background-color: var(--secondry);
  }
.item2 { grid-area: main; 
    height: 300px;
    width: 600px ;}

    .item2:hover .overlay2  {
        opacity: 0.8;
      }

      .overlay2 {

    
    
        position: relative;
        margin-top: -308px;
        height: 300px;
        width: 645px;
        opacity: 0;
        transition: .5s ease;
        background-color: var(--secondry);
      }
.item3 { grid-area: footer;
    position: relative;
    right: -9px;
    height: 300px;
    width: 300px ; }
    .item3:hover .overlay3  {
        opacity: 0.8;
      }

      .overlay3 {

    
    
        position: relative;
        margin-top: -308px;
        height: 300px;
        width: 300px;
        opacity: 0;
        transition: .5s ease;
        background-color: var(--secondry);
      }



.grid-container-row-two {
  display: grid;
  grid-template-areas:'menu main main footer';
    /* grid-template-columns: 'menu main main footer'; */
grid-gap:10px;

  background-color: #f8f8f8;
  padding-top: 5px;
}

.grid-container-row-two > div {
  background-color: var(--secondry);
  text-align: center;
  font-size: 30px;
  padding: 0px;
}




  <div class="container">
        <img src="img_avatar.png" alt="Avatar" class="image">
        <div class="overlay">
          <div class="text">Hello World</div>
        </div>
      </div>